* {
    font-family: sans-serif;
  }
body{
    background-image: linear-gradient(
        90deg,
        rgb(80, 80, 145),
        dodgerblue);
}

.header-title{
    padding-top: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.card-title{
    text-align: center;
}

.col-6{
    padding: 80px;
    margin-left: 450px;
}

.card{
    max-width: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-label{
    float: left;
}

.links{
    margin-top: 15px;
}
