* {
    font-family: "Heebo", sans-serif;
  }

body{
    background-image: linear-gradient(
    90deg,
    dodgerblue,
     skyblue) !important;
}
.header-title{
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

h3 {
    color:white;
    text-shadow: 1.5px 1.5px 4px black;
}


header {
background-image: linear-gradient(
    135deg,
    navy,
     dodgerblue);
 border-bottom: 3px solid white;
}

.card-body {
    background-image: linear-gradient(white, azure);
}
.card {
    border: 0;
}

.card:hover{
    transform:scale(1.05);
    transition: transform 300ms ease-in-out;
    box-shadow: 0px 15px 20px -3px black !important;
}


.btn {
    background-color:navy;
    border: 0;
}

footer {
   position: fixed;
   margin: 100px;
padding-left: 1200px;
padding-top: 90px;
}

.col-4 {
    padding-left: 570px;
    padding-bottom: 25px;
}

.modal.fade .modal-dialog {
    width:30%;
    position:fixed;
    bottom:10px;
    right:10px;
    margin:0;
    opacity: 90%;
}

#btn_logout, #studentRoster {
    background-color: transparent;
    border-bottom: 3px solid white;
}