* {
    font-family: "Heebo", sans-serif;
  }

body{
    background-image: linear-gradient(
    90deg,
    dodgerblue,
     skyblue) !important;
}
.header-title{
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 4px black;
}

h3 {
    color:white;
    text-shadow: 1.5px 1.5px 4px black;
}
h5 {
    color:white;
    text-shadow: 1.5px 1.5px 4px black;
}

p{
    color:white;
}


.btn {
    border: 0;
}

header {
background-image: linear-gradient(
    135deg,
    navy,
     dodgerblue);
 border-bottom: 3px solid white;
}

.card-body {
    background-image: linear-gradient(white, azure);
}
.card {
    border: 0;
}

.card:hover{
    transform:scale(1.05);
}

.btn {
    background-color:navy;
}

footer {
   position: fixed;
   margin: 100px;
padding-left: 1200px;
padding-top: 90px;
}
.row{
    width: 100%;
    margin-top: 20px;
    display: flex;
    
}

/* .col-4 {
    padding-left: 570px;
    padding-bottom: 25px;
} */
.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%
}

.col-3{
    width:25%;
}

.col-4{
    width:33.33%;
}

.col-5{
    width:41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width:58.33%;
}

.col-8{
    width:66.66%;
}

.col-9{
    width:75%;
}
.col-10{
    width:83.33%;
}

.col-11{
    width:91.66%;
}

.col-12{
    width: 100%;
}


.modal.fade .modal-dialog {
    width:30%;
    position:fixed;
    bottom:10px;
    right:10px;
    margin:0;
    opacity: 90%;
}

#btnAssignment {
    background-color: transparent;
    color: white;
    text-shadow: 1.5px 1.5px 4px black;
    border-bottom: 2px solid white;
}

li {
    padding-bottom: 10px;
    text-shadow: 1.5px 1.5px 4px black;
}
